# Enalbe auto eol handling
* 			text=auto

# Text Files auto handle
*.config 	text
*.cs 		text diff=csharp
*.md 		text
*.nuspec 	text
*.ps1 		text
*.csproj	text merge=union


# Text Files CR LF
*.sln 		text merge=union eol=crlf